[Unit]
Description=MoTeC Automator Web Control Panel
After=network.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
WorkingDirectory={{ api_dest }}

ExecStart={{ api_venv_path }}/bin/uvicorn api:app --host 127.0.0.1 --port 5000
Restart=always

[Install]
WantedBy=multi-user.target
