{
    "sim_type": "{{ sim_type }}",
    "playstation_ip": "{{ playstation_ip }}",
    "replay": {{ replay | lower }},
    "save_raw_telemetry": {{ save_raw_telemetry | lower }},
    "driver": "{{ driver }}",
    "session": "{{ session }}"
}
