[Unit]
Description=Sim-to-MoTeC Telemetry Logger
After=network-online.target

[Service]
Environment=PYTHONPATH=/opt/motec_webapp/third_party/motec_log_generator:/opt/motec_webapp
User={{ ansible_user }}
Group={{ ansible_user }}
Type=simple
ExecStart=/usr/local/bin/run_motec_logger.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
