[Unit]
Description=Sim-to-MoTeC Telemetry Logger
After=network-online.target

[Service]
Environment=PYTHONPATH={{ app_dest }}
User={{ ansible_user }}
Group={{ ansible_user }}
Type=simple
ExecStart=/usr/local/bin/run_motec_logger.sh
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
